@import url('https://fonts.googleapis.com/css?family=Muli');
@import "font-awesome";
body {
    background-color: #383838
}


.container {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
}

.container-fluid {
    padding: 0px;
}

.jumbotron-fluid {
    padding: 0px;
}

.image {
    width: 100%;
}

h1,
h2,
h3,
p {
    color: #EFEFEF;
    font-family: muli;
}

h2 {
    font-size: 40pt;
}

h3 {
    font-size: 20pt;
}

th {
    color: #9A512B;
}

td {
    color: #EFEFEF;
}

.table td,
.table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 0.025px solid #9A512B;
}

.navbar {
    text-align: center;

    margin-top: 20px;
    margin-bottom: 20px;

}

.tr {
    background-color: #9A512B;
}



@media (min-width: 992px) {
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }

html {
    font-size: 16px;
    }
}

@media (max-width: 991px) {
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }

    html {
        font-size: 12px;
        }
    }

